<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head'); -%> 
</head>
<body>

  <div class="page-container">
  <%- include ('partials/sidebar') -%>
  <div class="page-content">
    <%- include ('partials/navbar') -%>
    <div class="page-content-wrap">
      <div class="page-title">                    
        <h2><%= page %></h2>
      </div>
		<h1><%= message %></h1>
    </div>
</div>
</div>

</body>
<%- include ('partials/script') -%>
</html>