<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head_devextreme'); -%> 
</head>
<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar_admin') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap">   
        <div class="page-title">                    
          <h2><%= page %></h2>	
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong> (connecté en <strong><%= user.groupe %>)</strong></span>       														
      </div>  
      <% if (user.groupe != 'docelec') { %>
        <div class="row">
          <div class="alert alert-danger text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              Vous n'avez pas les droits nécessaires pour accéder à cette partie du SI
          </div>
          </div>	
        <% } else {%> 
      <div class="row">
        <!-- start panel info -->
        <div class="col-md-3 panel-group accordion accordion-dc">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#panelTextInfo">
                          Générer budget prévisionnel N+1
                      </a>
                  </h4>
              </div>                                
              <div class="panel-body" id="panelTextInfo">
               <div class="col-md-3">
                 <h4>Appliquer un % d'augmentation de</h4>
                 <div class="col-md-6">
                   <input type="text" class="form-control" id="prevRate"/>
                 </div>
               </div>
                <div class="col-md-5">
                 <h4>Appliqué à </h4>     
               <div class="form-group">
                 <div class="col-md-4">                                    
                     <label class="check"><input type="radio" class="iradio" name="prevBaseField" value="ht_devise" disabled/> Prix HT en devises</label>
                 </div>
                 <div class="col-md-4">                                    
                     <label class="check"><input type="radio" class="iradio" name="prevBaseField" value="ht_euro" checked="checked"/> Prix HT en Euros</label>
                 </div>
             </div>
             </div>
             <div class="col-md-2">
               <h4>De l'année</h4>
               <div class="col-md-6">
                 <input type="text" class="form-control" id="refYear"/>
               </div>
             </div>
             <div class="col-md-2">
               <button class="btn btn-success pull-left" id="submitPrev"> Valider</button>	
             </div>
              </div>                               
          </div>
</div>
          <!-- end panel info -->
        </div>
        <div class="row">
          <div class="action">
            <div id="selectbox"></div>
            <div class="label">Choisir une année :</div>
        </div>
        </div>
      <div class="row">
        <div id="gridContainerGestion"></div>
      </div>
      <% } %> 
    </div>
</div>
</div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/docelec/gestion.js"></script>
</html>