<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head_devextreme'); -%> 
</head>
<body>
 <% if (user.groupe !='docelec' && user.groupe !='admin' ) { %>
    <script> document.location.href = './error' </script>
    <% } else {%>
  <div class="page-container">
    <%- include ('../../partials/sidebar_docelec') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap"> 
        <div class="page-title">                    
          <h2><%= page %></h2>
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong> (connecté en <strong><%= user.groupe %>)</strong></span>       							
      </div> 
      <div class="row">
        <!-- start panel info -->
          <!-- end panel info -->
        </div>
        <div class="row"> 
<div class="form-horizontal validate">                                                            
           <div class="panel panel-default tabs">                            
               <ul class="nav nav-tabs" role="tablist">
                   <li class="active"><a href="#tab-bdd" role="tab" data-toggle="tab">Ressources</a></li>
				    <li><a href="#tab-disc" role="tab" data-toggle="tab">Indexation disciplinaire</a></li>
                   <li><a href="#tab-gc" role="tab" data-toggle="tab">Groupements de commandes</a></li>
                   <li><a href="#tab-reports" role="tab" data-toggle="tab">Rapports statistiques</a></li>
               </ul>
            <div class="panel-body tab-content">
              <div class="tab-pane active" id="tab-bdd">
                <div class="row">
                 <h4>Ressources</h4>
                 <div id="gridContainerBdd">
                   <div id='gcTemplate'></div>
                 </div>
               </div>
               </div>
               <div class="tab-pane" id="tab-gc">
                <div class="row">
                <h4>Groupements de commandes</h4>
                <div id="gridContainerGC"></div>
              </div>
              </div>
			   <div class="tab-pane" id="tab-disc">
                <div class="row">
                  <div class="col-md-4">
                <h4>Indexation disciplinaire</h4>
                </div>
                <div class="col-md-8">
                <div id="autoExpand"></div>
                </div>
                </div>
                <div class="row">
                <div id="containerBdd2Disc"></div>
              </div>
              </div>
              <div class="tab-pane" id="tab-reports"> 
                <div class="row">
                <h4>Rapports statistiques</h4>
                <div id="gridContainerReports"></div>
               </div>
              </div>
            </div>
           </div>                                
       </div>
   </div>
  </div>
</div>
</div>
<% } %> 
</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/docelec/master.js"></script>
</html>