<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head_devextreme'); -%> 
</head>
<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar_admin') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap"> 
        <div class="page-title">                    
          <h2><%= page %></h2>
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong> (connecté en <strong><%= user.groupe %>)</strong></span>       							
      </div> 
      <% if (user.groupe != 'docelec' || user.groupe != 'admin') { %>
        <div class="row">
          <div class="alert alert-danger text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              Vous n'avez pas les droits nécessaires pour accéder à cette partie du SI
          </div>
          </div>	
        <% } else {%> 
      <div class="row">
        <!-- start panel info -->
         <div class="col-md-3 panel-group accordion accordion-dc">
                               <div class="panel panel-info">
                                   <div class="panel-heading">
                                       <h4 class="panel-title">
                                           <a href="#panelTextInfo">
                                               Consignes de saisie (cliquer pour déplier)
                                           </a>
                                       </h4>
                                   </div>                                
                                   <div class="panel-body" id="panelTextInfo">
                                       <ul>
                                       <li><strong>[En cours]</strong> : ...</li>
                                   </ul>
                                   </div>                                
                               </div>
                 </div>
          <!-- end panel info -->
        </div>
        <div class="row"> 
<div class="form-horizontal validate">                                                            
           <div class="panel panel-default tabs">                            
               <ul class="nav nav-tabs" role="tablist">
                   <li class="active"><a href="#tab-bdd" role="tab" data-toggle="tab">Ressources</a></li>
                   <li><a href="#tab-gc" role="tab" data-toggle="tab">Groupements de commandes</a></li>
                   <li><a href="#tab-reports" role="tab" data-toggle="tab">Rapports statistiques</a></li>
               </ul>
            <div class="panel-body tab-content">
              <div class="tab-pane active" id="tab-bdd">
                <div class="row">
                 <h4>Ressources</h4>
                 <div id="gridContainerBdd">
                   <div id='gcTemplate'></div>
                 </div>
               </div>
               </div>
               <div class="tab-pane" id="tab-gc">
                <div class="row">
                <h4>Groupements de commandes</h4>
                <div id="gridContainerGC"></div>
              </div>
              </div>
              <div class="tab-pane" id="tab-reports"> 
                <div class="row">
                <h4>Rapports statistiques</h4>
                <div id="gridContainerReports"></div>
               </div>
              </div>
            </div>
           </div>                                
       </div>
   </div>
   <% } %> 
  </div>
</div>
</div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/docelec/master.js"></script>
</html>