<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head_devextreme'); -%> 
</head>
<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar_admin') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap"> 
        <div class="page-title">                    
          <h2><%= page %></h2>	
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong> (connecté en <strong><%= user.groupe %>)</strong></span>       														
      </div>  
      <div class="row">
        <!-- start panel info -->
         <div class="col-md-3 panel-group accordion accordion-dc">
                               <div class="panel panel-info">
                                   <div class="panel-heading">
                                       <h4 class="panel-title">
                                           <a href="#panelTextInfo">
                                               Consignes de saisie (cliquer pour déplier)
                                           </a>
                                       </h4>
                                   </div>                                
                                   <div class="panel-body" id="panelTextInfo">
                                       <ul>
                                       <li><strong>[En cours]</strong> : ...</li>
                                   </ul>
                                   </div>                                
                               </div>
                 </div>
          <!-- end panel info -->
        </div>
      <div class="row">
        <div id="gridContainerSignalement"></div>
      </div>
    </div>
</div>
</div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/docelec/signalement.js"></script>
</html>