<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head'); -%>
  <%- include ('../../partials/head_devextreme'); -%>
</head>

<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar_admin') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap">
        <div class="page-title">
          <h2><%= page %></h2>
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong>
            (connecté en <strong><%= user.groupe %>)</strong></span>
        </div>
        <% if (user.groupe != 'admin') { %>
          <div class="row">
            <div class="alert alert-danger text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                Vous n'avez pas les droits nécessaires pour accéder à cette partie du SI
            </div>
            </div>	
          <% } else {%> 
        <div class="row">
          <div class="form-horizontal validate">
            <div class="panel panel-default tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-users" role="tab" data-toggle="tab">Utilisateurs</a></li>
                <li><a href="#tab-bu" role="tab" data-toggle="tab">BU (sites)</a></li>
              </ul>
              <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-users">
                  <div class="row">
                    <h4>Comptes utilisateurs</h4>
                    <div id="gridContainerUsers">
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-bu">
                  <div class="row">
                    <h4>BU (sites)</h4>
                    <div id="gridContainerBU"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
    </div>
  </div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/admin/config.js"></script>

</html>