<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head_devextreme'); -%> 
</head>
<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar_admin') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar_admin') -%>
      <div class="page-content-wrap"> 
        <div class="page-title">                    
          <h2><%= page %></h2>
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong>
            (connecté en <strong><%= user.groupe %>)</strong></span>		  
      </div> 
      <div class="row">
      </div>
      <div class="row">
        <div id="gridContainerDisc"></div>
      </div>
    </div>
</div>
</div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>
<%- include ('../../partials/script_devextreme') -%>
<script src="./javascripts/admin/disc.js"></script>
</html>