<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head'); -%>
    <%- include ('../../partials/head_devextreme'); -%>
</head>

<body>

    <div class="page-container">
        <%- include ('../../partials/sidebar_admin') -%>
        <div class="page-content">
            <%- include ('../../partials/navbar_admin') -%>
            <div class="page-content-wrap">
                <div class="page-title">
                    <h2><%= page %></h2>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="push-down-0">Docelec</h3>
                            </div>
                            <div class="panel-body faq">
                                <div class="faq-item">
                                    <div class="faq-title"><span class="glyphicon glyphicon-collapse-down"></span> Ajouter une nouvelle ressource</div>
                                    <div class="faq-text">
                                        <h5>Aliquam at ipsum sapien</h5>
                                        <p><video width="320" height="240" controls>
                                            <source src="./assets/assets/SI-SCD_docelec_ajout_ressource.mp4" type="video/mp4">
                                          </video>
                                          </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="push-down-0">Horaires d'ouverture des BU</h3>
                            </div>
                            <div class="panel-body faq">
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/script_admin') -%>

</html>