<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('../../partials/head'); -%> 
 <%- include ('../../partials/head-devextreme'); -%> 
</head>
<body>

  <div class="page-container">
    <%- include ('../../partials/sidebar') -%>
    <div class="page-content">
      <%- include ('../../partials/navbar') -%>
      <div class="page-content-wrap"> 
        <div class="page-title">                    
          <h2><%= page %></h2>	
          <span class="label label-info label-form pull-right">Utilisateur <strong><%= user.username %></strong> (connecté en <strong><%= user.groupe %>)</strong></span>							
      </div>  
      <div class="row">
        <div id="gridContainerUtilisateurs"></div>
      </div>
    </div>
</div>
</div>

</body>
<%- include ('../../partials/script') -%>
<%- include ('../../partials/scripts-devextreme') -%>
<script src="/javascripts/admin/utilisateurs.js"></script>
</html>